@import 'base/variables';
* {
  font-family: 'Museo Sans', sans-serif;
}
.container {
  width: 950px;
  margin: 0 auto;
}
.title {
  color: #0d0d0d;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/features';
@import 'media';

